@model SG_ASP_1.Models.AdmisionCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Admision</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.AtenId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AtenId, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AtenId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        <dl class="dl-horizontal">
            
            <dt>@Html.DisplayNameFor(model => model.DocIde)</dt>
            <dd>@Html.DisplayFor(model => model.DocIde)</dd>

            <dt>@Html.DisplayNameFor(model => model.NomApe)</dt>
            <dd>@Html.DisplayFor(model => model.NomApe)</dd>

            <dt>@Html.DisplayNameFor(model => model.Empres)</dt>
            <dd>@Html.DisplayFor(model => model.Empres)</dd>
        </dl>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HorIng, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HorIng, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HorIng, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HorSal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HorSal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HorSal, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Pendie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pendie, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pendie, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div>
        <h4>Interconsultas</h4>
        <table class="tabe table-striped">
            <tr class="table info">
                <th>Id</th>
                <th>Interconsulta</th>
                <th>Fecha de envio</th>
                <th>Personal que envió el correo</th>
                <th>Envio de hoja informativa</th>
                <th>Fecha de comicación al paciente</th>
                <th>Personal que comunicó al paciente</th>
                <th>Fecha de levantamiento de observaciones</th>
            </tr>

            @for (int i = 0; i < Model.interconsultas.Count; i++)
            {
                <tr>
                    <td>@Html.EditorFor(m => Model.interconsultas[i].Id, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.EditorFor(m => Model.interconsultas[i].IntCon, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.EditorFor(m => Model.interconsultas[i].FecEnv, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(m => Model.interconsultas[i].PeEnCo, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(m => Model.interconsultas[i].EnHoIn, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.EditorFor(m => Model.interconsultas[i].FeCoPa, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.EditorFor(m => Model.interconsultas[i].PeCoPa, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.EditorFor(m => Model.interconsultas[i].FeLeObs, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                </tr>
            }
        </table>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
