@model SG_ASP_1.Models.Atenciones

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <div>
        <h4>Atenciones</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Medicos.Medico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Medicos.Medico)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Local0)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Local0)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipExa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipExa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FecAte)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FecAte)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NomApe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomApe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DocIde)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DocIde)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Empres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Empres)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubCon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubCon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Proyec)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Proyec)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Perfil)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Perfil)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PueTra)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PueTra)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PeReAd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PeReAd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hora)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hora)
            </dd>

        </dl>
    </div>

    <h4>Admisión</h4>
    <dl class="dl-horizontal">

        @foreach (var item in Model.Admision)
        {
            <dt>
                @Html.DisplayNameFor(m => item.HorIng)
            </dt>

            <dd>
                @Html.DisplayFor(m => item.HorIng)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => item.HorSal)
            </dt>

            <dd>
                @Html.DisplayFor(m => item.HorSal)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => item.Pendie)
            </dt>

            <dd>
                @Html.DisplayFor(m => item.Pendie)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => item.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(m => item.UserName)
            </dd>
        }


    </dl>

    <h4>Interconsultas</h4>
    <div>
        <table class="tabe table-striped">
            <tr class="table info">
                <th>Id</th>
                <th>Interconsulta</th>
                <th>Fecha de envio</th>
                <th>Personal que envió el correo</th>
                <th>Envio de hoja informativa</th>
                <th>Fecha de comicación al paciente</th>
                <th>Personal que comunicó al paciente</th>
                <th>Fecha de levantamiento de observaciones</th>
            </tr>
           @foreach (var item in Model.Interconsulta)
           {
                <tr>
                    <td>@Html.DisplayFor(m=> item.Id, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.DisplayFor(m => item.Id ,new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.DisplayFor(m => item.IntCon, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.DisplayFor(m => item.FecEnv, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.DisplayFor(m => item.PeEnCo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.DisplayFor(m => item.EnHoIn, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.DisplayFor(m => item.FeCoPa, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.DisplayFor(m => item.PeCoPa, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                    <td>@Html.DisplayFor(m => item.FeLeObs, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>

                </tr>
            }
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Atenciones","Atenciones")
</p>
