@model IEnumerable<SG_ASP_1.Models.Atenciones>

@{
    ViewBag.Title = "Index";
}

<h2>Atenciones</h2>


    @using (Html.BeginForm())
    {
    <p class="form-inline">
        Desde: @Html.TextBox("FecIni", String.Format("{0:dd/MM/yyyy}", DateTime.Now), new { @class = "form-control datepicker", @type = "datetime" })
        Hasta:@Html.TextBox("FecFin", String.Format("{0:dd/MM/yyyy}", DateTime.Now), new { @class = "form-control datepicker", @type = "datetime" })<br /><br />
        Nombre:@Html.TextBox("BuscarNombre", "", new { @class = "form-control text-box" })
        DNI:@Html.TextBox("Dni", "", new { @class = "form-control text-box" })
        Empresa:@Html.TextBox("Empres", "", new { @class = "form-control text-box" })<br /><br />
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </p>
    }


    <table class="table">
        <tr >
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Medicos.Medico)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Local0)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TipExa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecAte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomApe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocIde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proyec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PueTra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeReAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.ActionLink("Admision", "Admision", new { id = item.Id }) |
            @Html.ActionLink("Medicina", "Medicina", new { id = item.Id })|
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicos.Medico)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Local0)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TipExa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FecAte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomApe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocIde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PueTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeReAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>

    </tr>
        }

    </table>

