@model IEnumerable<SG_ASP_1.Models.Atenciones>

@{
    ViewBag.Title = "Index";
}

<h2>Atenciones</h2>
<p>
    @Html.ActionLink("Importar Datos", "Create")
</p>

    @using (Html.BeginForm())
    {
    <p class="form-inline">
        <table class="table">
            <thead>
                <tr><td>Filtar</td></tr>
            </thead>
            <tr>
                <td>Desde:@Html.TextBox("FecIni", String.Format("{0:dd/MM/yyyy}", DateTime.Now), new { @class = "form-control datepicker", @type = "datetime" })</td>
                <td>Hasta:@Html.TextBox("FecFin", String.Format("{0:dd/MM/yyyy}", DateTime.Now), new { @class = "form-control datepicker", @type = "datetime" })</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.TextBox("Dni", "", new { placeholder="DNI", @class = "form-control text-box" })</td>
                <td>@Html.TextBox("BuscarNombre", "", new { placeholder="Nombre y/ó apellido",@class = "form-control text-box" })</td>
            </tr>
            <tr>
                <td>@Html.TextBox("Empres", "", new {placeholder="Empresa", @class = "form-control text-box" })</td>
                <td>
                        <input style="vertical-align:central" type="submit" value="Buscar" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </p>
    }


    <table class=" table table-bordered table-striped">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicos.Medico)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TipExa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecAte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomApe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocIde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proyec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PueTra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeReAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.ActionLink("Admision", "Admision", new { id = item.Id })<br />
            @Html.ActionLink("Medicína", "Medicina", new { id = item.Id })
            @Html.ActionLink("Auditoría","Auditoria", new { id = item.Id })
            @Html.ActionLink("Enfermería","Enfermeria",new { id = item.Id})
            @Html.ActionLink("Detalles", "Details", new { id = item.Id })
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicos.Medico)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TipExa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FecAte)
        </td>
        <td width="100px">
            @Html.DisplayFor(modelItem => item.NomApe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocIde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PueTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeReAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>

    </tr>
        }

    </table>

