@model SG_ASP_1.Models.Auditoria

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Auditoría</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Atenciones.Local0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atenciones.Local0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExaCom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExaCom)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ExaCom1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatInc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatInc)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.DatInc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptErr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptErr)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.AptErr1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaFiMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaFiMe)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.FaFiMe1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaFiPa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaFiPa)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.FaFiPa1)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Restri)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Restri1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contro)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Contro1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagno)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Diagno1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrLle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrLle)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ErrLle1)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.OmiInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OmiInt)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.OmiInt1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObNoRe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObNoRe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmSnOb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmSnOb)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EmSnOb1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorAud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorAud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecAud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecAud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Atenciones", "Atenciones")
</p>
